[mysqld]
#
# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M
#
# Remove leading # to turn on a very important data integrity option: logging
# changes to the binary log between backups.
# log_bin
#
# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock

sql_mode=NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
skip_name_resolve

#skip-networking
## Cache
thread-cache-size               = 16
table-open-cache                = 4096
table-definition-cache          = 2048
query-cache-size                = 128M
query-cache-limit               = 50M

## Per-thread Buffers
sort-buffer-size                = 24M
read-buffer-size                = 16M
read-rnd-buffer-size            = 24M
join-buffer-size                = 16M

#skip-innodb
long_query_time = 2
slow-query-log = 1
slow-query-log-file =/log/varlog/sl.log
log-queries-not-using-indexes
expire_logs_days = 30
log-bin=/log/varlog/binlog/mysql-bin
server-id       = 1
max_allowed_packet = 16M
max_binlog_size=500M
log-slave-updates
max-relay-log-size = 1000M
relay-log-space-limit = 1000M

#relay-log-purge=1
#replicate-ignore-db=mysql
binlog-ignore-db = mysql,information_schema,performance_schema,phpmyadmin
#binlog-do-db=test
innodb_buffer_pool_size=2048M
#innodb_log_file_size=200M
innodb_flush_log_at_trx_commit=0

## Temp Tables
tmp-table-size                  = 1024M
max-heap-table-size             = 1024M

# INNODB #
innodb-flush-method            = fsync
innodb-log-files-in-group      = 2
innodb-log-file-size           = 128M
innodb-flush-log-at-trx-commit = 2
innodb-file-per-table          = 1
innodb-buffer-pool-size        = 50G

## Networking
back-log            	  =	450
open_files_limit	      =	5000
max_connections        	=	2000
max-connect-errors      =	10000
max-allowed-packet      =	16M
interactive-timeout     =	60
wait-timeout            =	60
explicit_defaults_for_timestamp

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
